/
wp-admin/
wp-includes/
wp-content/plugins/akismet/.htaccess
wp-content/plugins/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
wp-content/index.php
wp-content/themes/index.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
readme.html
wp-activate.php
wp-blog-header.php
.htaccess
index.php
license.txt
